@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700|Oswald:500&subset=cyrillic');

:root {
  /* Black background & title color */
  --color-primary: #121212;
  --color-primary-light: ##898888;
  /* Light font color */
  --color-primary-dark: #525252;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-primary);
}
